/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Logs]/
/[MemoryCaptures]/

# Archivos de soluciones de Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docuser

# Metadatos de OS
.DS_Store
Thumbs.db